<section>

<h3> The order of <%="#{ticket.menu_item}" %> is being served to <%= "#{ticket.table_number}" %> </h3> 

<a href= '/tickets/<%=@ticket.id%>/edit'><button type = 'submit'>Edit</button></a>

</section>