<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href:"./dist/semantic.css">
  <title>Puppies</title>
</head>
<body>

  <form action="/puppies/create" method="POST">
    <label>
      Breed:
      <input type="text" name="breed" />
    </label>
    <label>
      Color:
      <input type="text" name="color" />
    </label>
    <label>
      Image:
      <input type="text" name="image" />
    </label>
    <button>Create Puppy</button>
  </form>
</body>
</html>