<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel= "stylesheet" type="text/css" href="./dist/semantic.css">
	<title>Welcome</title>
</head>


<body>

<h1 class="ui gray header">WELCOME TO THE WONDERFUL WORLD OF PUPPIES</h1>





<div class= "ui segment">


<img class="ui centered big image" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQXcw-lZfADO50qC_ER7CUL4Dnerio7rMHeD3VkMjdmKKUUFGVw" />

</div>

<div class = "ui fluid three item menu">

<a class="item" href="/puppies/new">Create a Puppy</a>
<a class="item" href="/puppies">
Current List of Puppies</a>
<a class="item" href="/about">
About</a>


</div>




</body>
</html>