<h1> PAGE TO EDIT USERS i.e. USER SETTINGS PAGE? </h1>

<h3> Should a user be able to see this without logging in?</h3>

<ul>
  <li>Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
</ul>